### Add some description

In [1]:
!python --version

Python 3.11.2

In [5]:
# Log into Hugging Face
#HUGGINGFACE_TOKEN = ""
#!huggingface-cli login --token $HUGGINGFACE_TOKEN

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: write).
Your token has been saved to /Users/verosha/.cache/huggingface/token
Login successful

### Imports

In [6]:
from huggingface_hub import hf_hub_download
import pandas as pd

### Config

In [8]:
REPO_ID = "MelioAI/santander-product-recommendation"
HF_TRAIN_DATASET_NAME = "train_ver2.csv"
HF_TEST_DATASET_NAME = "test_ver2.csv"

### Load Santander Product Recommendation dataset

In [13]:
# Using the Hugging Face Client Library

ds_train = pd.read_csv(
    hf_hub_download(repo_id=REPO_ID, filename=HF_TRAIN_DATASET_NAME, repo_type="dataset")
)

/var/folders/py/00rrgyx10993blywbkynytgc0000gn/T/ipykernel_38354/1856397251.py:3: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  ds_train = pd.read_csv(

In [10]:
ds_test = pd.read_csv(
    hf_hub_download(repo_id=REPO_ID, filename=HF_TEST_DATASET_NAME, repo_type="dataset")
)

/var/folders/py/00rrgyx10993blywbkynytgc0000gn/T/ipykernel_38354/2311066649.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  ds_test = pd.read_csv(

In [11]:
## Data Profiling
ds_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int64
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929610 non-null  object
 5   age                    929615 non-null  int64
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int64
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929592 non-null  float64
 12  tiprel_1mes            929592 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               104 non-null     object
 16  canal_entrada          927534 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               925619 non-null  float64
 20  nomprov                925619 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               927367 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB

In [12]:
# Generate a detailed statistical summary of the train DataFrame, including both numeric and categorical columns,
# transposed for easier readability and analysis.
ds_test.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
fecha_dato,929615,1,2016-06-28,929615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ncodpers,929615.0,NaN,NaN,NaN,879456.621092,448156.939785,15889.0,483361.5,966425.0,1264316.5,1553689.0
ind_empleado,929615,5,N,929096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pais_residencia,929615,118,ES,925619,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sexo,929610,2,V,504515,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,929615.0,NaN,NaN,NaN,40.249821,17.185119,2.0,25.0,39.0,51.0,164.0
fecha_alta,929615,6750,2014-07-28,3421,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind_nuevo,929615.0,NaN,NaN,NaN,0.027849,0.164541,0.0,0.0,0.0,0.0,1.0
antiguedad,929615.0,NaN,NaN,NaN,77.728413,1797.824518,-999999.0,23.0,55.0,136.0,257.0
indrel,929615.0,NaN,NaN,NaN,1.177422,4.166039,1.0,1.0,1.0,1.0,99.0
ult_fec_cli_1t,1683,21,2016-06-01,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indrel_1mes,929592.0,NaN,NaN,NaN,1.000058,0.010779,1.0,1.0,1.0,1.0,3.0
tiprel_1mes,929592,3,I,535943,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indresi,929615,2,S,925620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indext,929615,2,N,883548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
conyuemp,104,2,N,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
canal_entrada,927534,162,KHE,251665,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indfall,929615,2,N,927215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipodom,929615.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
cod_prov,925619.0,NaN,NaN,NaN,26.54615,12.836614,1.0,15.0,28.0,35.0,52.0
nomprov,925619,52,MADRID,298250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind_actividad_cliente,929615.0,NaN,NaN,NaN,0.425272,0.494384,0.0,0.0,0.0,1.0,1.0
renta,929615,516403,NA,227965,NaN,NaN,NaN,NaN,NaN,NaN,NaN
segmento,927367,3,02 - PARTICULARES,545378,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Check missing values
ds_train.isnull().sum()/ds_train.shape[0] * 100

fecha_dato                0.000000
ncodpers                  0.000000
ind_empleado              0.203220
pais_residencia           0.203220
sexo                      0.203732
age                       0.000000
fecha_alta                0.203220
ind_nuevo                 0.203220
antiguedad                0.000000
indrel                    0.203220
ult_fec_cli_1t           99.818330
indrel_1mes               1.097513
tiprel_1mes               1.097513
indresi                   0.203220
indext                    0.203220
conyuemp                 99.986752
canal_entrada             1.363829
indfall                   0.203220
tipodom                   0.203227
cod_prov                  0.685784
nomprov                   0.685784
ind_actividad_cliente     0.203220
renta                    20.475648
segmento                  1.387585
ind_ahor_fin_ult1         0.000000
ind_aval_fin_ult1         0.000000
ind_cco_fin_ult1          0.000000
ind_cder_fin_ult1         0.000000
ind_cno_fin_ult1          0.000000
ind_ctju_fin_ult1         0.000000
ind_ctma_fin_ult1         0.000000
ind_ctop_fin_ult1         0.000000
ind_ctpp_fin_ult1         0.000000
ind_deco_fin_ult1         0.000000
ind_deme_fin_ult1         0.000000
ind_dela_fin_ult1         0.000000
ind_ecue_fin_ult1         0.000000
ind_fond_fin_ult1         0.000000
ind_hip_fin_ult1          0.000000
ind_plan_fin_ult1         0.000000
ind_pres_fin_ult1         0.000000
ind_reca_fin_ult1         0.000000
ind_tjcr_fin_ult1         0.000000
ind_valo_fin_ult1         0.000000
ind_viv_fin_ult1          0.000000
ind_nomina_ult1           0.117701
ind_nom_pens_ult1         0.117701
ind_recibo_ult1           0.000000
dtype: float64

In [16]:
# Inspect the data sample
ds_train.sample(5)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
12810382,2016-05-28,588326,N,ES,V,43,2005-12-29,0.0,125,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
7106706,2015-10-28,529321,N,ES,H,35,2005-04-18,0.0,64,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
720698,2015-02-28,791762,N,ES,V,48,2008-09-03,0.0,82,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
10202396,2016-02-28,1438448,N,ES,H,20,2015-08-26,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
8837177,2015-12-28,587958,N,ES,V,42,2005-12-28,0.0,120,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0